.form-container{
  width: 80%;
  padding: 10px 15px;
  margin: auto;
  box-sizing: border-box;
  background-color: #f0f0f0;
  box-shadow: 0px 0px 3px #696969;
}

.table{
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
}

.box{
  width: 100%;
  padding: 20px 0px;
  display: none;
  transition: all 0.3s linear;
}

#sairButton{
  display: none;
}